.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
    animation: lds-grid 1.2s 0s linear infinite, fadeCircle 1.2s 3s 1 linear forwards;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
    animation: lds-grid 1.2s -0.4s linear infinite, fadeCircle 1.2s 3s 1 linear forwards;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
    animation: lds-grid 1.2s -0.8s linear infinite, fadeCircle 1.2s 3s 1 linear forwards;
  }
  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
    animation: lds-grid 1.2s -0.4s linear infinite, fadeCircle 1.2s 3s 1 linear forwards;
  }
  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
    animation: lds-grid 1.2s -0.8s linear infinite, expandCircle 5s 5s 1 ease-in-out forwards;
  }
  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
    animation: lds-grid 1.2s -1.2s linear infinite, fadeCircle 1.2s 3s 1 linear forwards;
  }
  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
    animation: lds-grid 1.2s -0.8s linear infinite, fadeCircle 1.2s 3s 1 linear forwards;
  }
  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
    animation: lds-grid 1.2s -1.2s linear infinite, fadeCircle 1.2s 3s 1 linear forwards;
  }
  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
    animation: lds-grid 1.2s -1.6s linear infinite, fadeCircle 1.2s 3s 1 linear forwards;
  }
  .expandCircle {
    animation-delay: 1s;
    animation: expandCircle 4s ease;
    animation: lds-grid 1.2s linear infinite, fadeCircle 1.2s 3s 1 linear forwards;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
      scale: 70%;
    }
    50% {
      opacity: 0.5;
      scale: 50%;
    }
  }
  @keyframes expandCircle {
    0% {
        opacity: 100%;
        scale: 0;
    }
    100% {
        opacity: 0%;
        scale: 200;
    }
  }
  @keyframes fadeCircle {
    100% {
        opacity: 0%;
    }
  }